{
    "presets": [
			["@babel/preset-env",
			{
					"useBuiltIns" : "usage",
					"targets": {
						"chrome": "49",
						"node": 6,
						"ie": "11"
					},
					"modules": "umd",
					"corejs": 3
			}],
			"@babel/preset-react"
    ],
    "plugins": [
				["@babel/plugin-syntax-dynamic-import"],
				["lodash"],
				["styled-jsx/babel"],
				["react-hot-loader/babel"],
				["@babel/plugin-proposal-class-properties"],
				["@babel/plugin-transform-runtime", {
					"absoluteRuntime": false,
					"corejs": 3,
					"helpers": true,
					"regenerator": true,
					"useESModules": false
				}],
      	["@babel/plugin-proposal-decorators", {
          "legacy": true
        }],
      	["import", {
        	"libraryName": "antd",
        	"style": "true" // `style: true` 会加载 less 文件
      	}]
    ]
}